body {
    background-color: #211f2a;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {

    width: 100%;
    background-color: #211f2a;
    display: flex;
    justify-content: center;
    height: 15vh;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

main{
    display: flex;
    flex-direction: column;
    top: 10vh;
    min-height: 75vh;
    height: 90%;
    width: 100%;
    overflow-x: auto;

    scrollbar-color: #3fedfe transparent;

    font-family: 'Barlow', sans-serif;
}

footer {
    background-color: #211f2a;
    color: #ffffff; 
    text-align: center; 
    font-size: 100%;
    justify-content: center;
    justify-items: center;
    width: 100%; /*couvre toute la largeur */
}

footer p {
    margin-top: 2%;
    margin-bottom: auto;
}

#logo {
    height: 100%;
}

#logoDuSite {
    height: 100%;
}

/* style accueil */
.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

#navigation a button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 130%;
    transition: background-color 0.3s ease;
}

#navigation a button:hover {
    background-color: #9586f7;
}

